body {
    display: flex;
    justify-content: center;

}

.container {
    margin: 100;
    width: 600px;
    height: 500px;
    background-color: white;;
    display: flex;
    border: 1px solid rgba(59, 58, 59, 0.48);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    justify-content: center;
    padding: 30;
}

#score {

    color: rgb(12, 12, 12);

}
.grid {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    background-color: rgb(255, 253, 253);
    margin: 20;

}